<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwlhJBakcOeSJPK0d8GnEwFAuw_JKopuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>806560021540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cz.etnetera.mobile.zachranobed.dev</string>
	<key>PROJECT_ID</key>
	<string>zachran-obed-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>zachran-obed-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:806560021540:ios:3fe4392c2ee0a905d82cb1</string>
</dict>
</plist>
